.form-control fieldset {
    flex-basis: 500px;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}

.form-control fieldset div {
    display: flex;
    align-items: center;
}

.form-control fieldset label {
    padding: 0 1em;
}