@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input, textarea, select, button {
    font-family: 'Poppins', sans-serif;
}

.fruit-counters {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0 2em;
}

.fruit-counters > * {
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 500px;
    margin: 5em 2em;
}

.form-control {
    display: flex;
    flex-direction: row;
}

.form-control label {
    flex-basis: 200px;
}

.form-control input:not([type="checkbox"]), select, textarea {
    flex-basis: 300px;
}

.form-control input[type="checkbox"] {
    margin: 0 1em;
}